<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Севснаб - О нас</title>
</head>
<body>
    <div class="grid-container">
        <%- include ('blocks/header.ejs') -%>
        <div class="grid-container about">
            <div class="item floor">
                <div class="item image">Картинка</div>
                <div class="item text">Текст</div>
            </div>
            <div class="item floor">
                <div class="item text">Текст</div>
                <div class="item image">Картинка</div>
            </div>
            <div class="item floor">Сертификаты</div>
        </div>
        <%- include ('blocks/footer.ejs') -%>
    </div>
    

</body>
</html>
