<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Севснаб - О нас</title>
</head>
<body>
    <div class="grid-container">
        <%- include ('blocks/header.ejs') -%>
        <div class="grid-container about">
            
            <div class="item telling">
                <h1>Добро пожаловать!</h1>
                <div class="floor1">
                    <img src="/images/about/about_layer1.jpg" alt="Изображение">
                    <p>
                        На сегодняшний день мы работаем с крупными предприятиями по Северо-Западному округу. Наша компания имеет складские помещения, позволяющие закрывать Ваши потребности на следующий день, и собственный транспорт. Также наша компания зарегистрирована на многих площадках и принимает участие во многих конкурсах (тендерах), а также и прямые договора на поставку продукции. Помимо этого наша компания готова предложить услуги по утилизации отработанных масел. 
                    </p>
                    
                </div>
                <div class="floor2">
                    <p>
                        ООО "Северснаб" зарегистрирован 05.08.2014 г., работает в сфере реализации ГСМ и фильтров. На сегодняшний день компания является официальным дилером крупнейшего производителя по маслам и смазкам North Sea Lubricants (Голландия), Ymioil(Тюмень) , представляет интересы компании Delfin Group, Nordfil (фильтра). Также наша компания занимается разработкой и производством фильтров для спецтехники и легкового транспорта. Помимо этого в ассортимент нашей компании входят такие бренды, как Газпромнефть, Лукойл, Роснефть и др. производители.

                    </p>
                    <img src="/images/about/about_layer2.jpg" alt="Изображение">
                </div>
                
            </div>
            
            <div class="item certificates">
                <div class="certs"><img src="/images/about/YMICert.png" alt="Сертификат"><img src="/images/about/NSLcert.png" alt="Сертификат"></div>
                <div class="par">ООО "Северснаб" является официальным дилером производителей по маслам. Подтверждением являются предоставленные, компаниями-партнерами сертификаты!</div>
            </div>
        </div>
        <%- include ('blocks/footer.ejs') -%>
    </div>
    

</body>
</html>
