<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Северснаб - Вход в личный кабинет</title>
</head>
<body>
    <div class="grid-container">
        <%- include ('blocks/header.ejs') -%>
            <div class="grid-container new">
                <div class="item new-header">Назваение</div>
                <div class="item new-picture">Картинка</div>
                <div class="item new-content">Текст новости</div>
            </div>
        <%- include ('blocks/footer.ejs') -%>
    </div>
</body>
</html>