<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Севснаб - О нас</title>
</head>

<body>
    <div class="grid-container">
        <%- include ('blocks/header.ejs') -%>
            <div class="grid-container partners">
                <div class="item textblock">
                    <div class="text-block">
                        <h1>Предисловие</h1>
                        <p>На протяжении многих лет наша компания создавала сеть ценных ключевых партнеров и гордится
                            длительным сотрудничеством друг-с-другом. Каждый партнер является престижным брендом со
                            всемирной репутацие в своей сфере деятельности.</p>
                        <p>В связи с этим мы хотим предложить Вам познакомиться с каждым партнёром индивидуально.</p>
                    </div>


                </div>
                <div class="item card">
                    <div class="partner-card">
                        <img src="/images/partners/nordfil_logo.png" alt="">
                        <h1>Nordfil</h1>
                        <p>
                            Компания NORDFIL основана в 2016 году. Главное направление деятельности — производство
                            воздушных и салонных автомобильных фильтров.
                            Мы считаем, что ничего не получится без постоянного стремления к развитию. Именно поэтому на
                            нашем заводе налажен полный цикл производства европейского уровня, обеспечивающий выпуск
                            фильтров, отвечающих требованиям автопроизводителей и автовладельцев.
                        </p>
                        <a class="submit" href="#">Подробнее</a>
                    </div>
                </div>
                <div class="item card">
                    <div class="partner-card">
                        <img src="/images/partners/ymioil_logo.png" alt="">
                        <h1>Ymioil</h1>
                        <p>Ymioil — это автомобильные масла, смазки и технические жидкости на основе качественного
                            базового
                            сырья и лучших присадок для обслуживания систем, узлов и агрегатов автомобильной техники и
                            промышленного оборудования.
                        </p>
                        <a class="submit" href="#">Подробнее</a>
                    </div>
                </div>
                <div class="item card">
                    <div class="partner-card">
                        <img src="/images/partners/north_sea_logo.png" alt="">
                        <h1>North Sea Lubricants</h1>
                        <p>
                            Мы — North Sea Lubricants, независимый бренд смазочных масел, базирующийся в Нидерландах.
                            Все наши масла, смазки, трансмиссионные жидкости и другие продукты производятся в Голландии
                            и поставляются более чем в 65 стран мира. Мы даем вам возможность быть на высоте. Узнайте о
                            том, как мы можем дать вам СИЛУ, из нашего корпоративного видео!
                        </p>
                        <a class="submit" href="#">Подробнее</a>
                    </div>
                </div>
                <div class="item card">
                    <div class="partner-card">
                        <img src="/images/partners/full_luxe_logo.jpg" alt="">
                        <h1>
                            Luxe
                        </h1>
                        <p>LUXE — высококачественные моторные масла и спецжидкости, созданные по последним технологиям.
                            Благодаря постоянному совершенствованию и обновлению производственных мощностей, внедрению
                            систем контроля качества, масла LUXE обладают уникальными характеристиками и составляют
                            серьезную конкуренцию ведущим отечественным и зарубежным производителям.</p>
                        <a class="submit" href="#">Подробнее</a>
                    </div>
                </div>
                <div class="item card">
                    <div class="partner-card">
                        <img src="/images/partners/repsol_logo.png" alt="">
                        <h1>Repsol</h1>
                        <p>Компания Repsol – один из ведущих производителей моторных масел, смазочных материалов,
                            тормозных жидкостей и других ГСМ в мире. На протяжении десятилетий ее продукция заслужено
                            пользуется огромным спросом со стороны автомобильных компаний и потребителей.</p>
                        <a class="submit" href="#">Подробнее</a>
                    </div>
                </div>

            </div>
            <%- include ('blocks/footer.ejs') -%>
    </div>


</body>

</html>