.grid-container{
    display: grid;
    
    border: 1px solid #000;
}
.grid-container.header.container{
    display: grid;
    grid-gap: 5px;
    border: 1px solid blue;
    grid-template-areas: 
    "logo search search icons"
    "logo links links links";
}
.item{
    background-color: #1E96FF;
    color: #FFFFFF;
    text-align: center;
    padding: 20px;
}
.logo{
    grid-area: logo;
}
.search{
    grid-area: search;
}
.icons{
    grid-area: icons;
}
.links{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    grid-area: links;
    
}
   

.grid-container.footer{
    display: grid;
    grid-gap: 5px;
    grid-template: 1fr 1fr/ 1fr 1fr;
}
.footer-copyright{
    grid-column: span 2;
}

.grid-container.main{
    display: grid;
    grid-gap: 5px;
}

.grid-container.about{
    display: grid;
    grid-gap: 5px;
}
.item.floor{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 1px solid #000;
}

.grid-container.partners{
    display: grid;
    grid-gap: 5px;
}

.grid-cotainer.assortment{
    display: grid;
    grid-gap: 5px;
}
.item.categories{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.grid-container.contacts{
    display: grid;
    grid-gap: 5px;
    grid-template: 1fr/1fr 1fr;
}
.inits{
    display: grid;
    grid-gap: 5px;
    grid-template: 1fr 1fr/ 1fr;
    border: 1px solid #000;
}