<div class="grid-container footer">
    <div class="item footer-logo"><img src="/images/header/logo.svg" alt=""></div>
    <div class="item footer-inits"><table>
        <tbody>
            <tr>
                <td>Время работы:</td>
                <td>с 10:00 до 22:00</td>
            </tr>
            <tr>
                <td>Адрес:</td>
                <td>г. Гатчина, ул. Рысева 62А</td>
            </tr>
            <tr>
                <td>Почта:</td>
                <td>
                    <a href="mailto: info@sev_snab.ru">info@sev_snab.ru</a>
                </td>
            </tr>
        </tbody>
    </table></div>
    <div class="item footer-copyright"><h3>&#169 2014 - 2024 ООО "СеверСнаб"</h3></div>
</div>