<div class="grid-container header">
    <div class="grid-container header container">
        <div class="item logo">Логотип</div>
        <div class="item search">Поиск</div>
        <div class="item icons">Иконки</div>
        <div class="item links"><a href="#">Главная</a>
            <a href="about">О нас</a>
            <a href="partners">Наши партнёры</a>
            <a href="shop">Ассортимент</a>
            <a href="contacts">Контакты</a></div>
    </div>
    
</div>