<div class="grid-container header">
    <div class="grid-container header container">
        <div class="item logo">Логотип</div>
        <div class="item search">Поиск</div>
        <div class="item icons">Иконки</div>
        <div class="item links"><a href="#">Главная</a>
            <a href="#">О нас</a>
            <a href="#">Наши партнёры</a>
            <a href="#">Ассортимент</a>
            <a href="#">Контакты</a></div>
    </div>
    
</div>