<div class="grid-container main">
    <div class="item">Лид</div>
    <div class="item">Партнеры</div>
    <div class="item">Слайдер-Категории</div>
    <div class="item">О нас</div>
    <div class="item">Новости</div>
</div>